.newsletter {
  max-width: 1200px;
  margin: 40px auto;

  padding: 40px;

  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;

  box-sizing: border-box;
}

/* CONTAINER */
.newsletter-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

/* HEADING */
.newsletter h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #1c1c1c;   /* dark text */
}

/* TEXT */
.newsletter p {
  font-size: 14px;
  color: #8b96a5;   /* soft gray */
  margin-bottom: 20px;
}

/* FORM */
.newsletter-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* INPUT */
.newsletter-form input {
  padding: 10px 12px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  width: 250px;
  outline: none;
  background-color: #ffffff;
}

/* BUTTON */
.newsletter-form button {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .newsletter-form {
    flex-direction: column;
    align-items: center;
  }

  .newsletter-form input,
  .newsletter-form button {
    width: 100%;
    max-width: 300px;
  }
}